albumentations==2.0.8
comet_ml==3.53.2
coremltools==8.3.0
Flask==3.1.2
GitPython==3.1.45
ipython==8.12.3
matplotlib==3.7.5
mss==10.1.0
neuromeka==3.4.0.4
nncf==2.18.0
numpy==1.23.5
onnx==1.19.1
onnxruntime==1.23.2
onnxslim==0.1.72
opencv_python==4.11.0.86
openvino==2025.3.0
paddle==1.1.1
pafy==0.5.5
pandas==2.0.3
Pillow==9.5.0
Pillow==12.0.0
psutil==7.0.0
pycocotools==2.0.10
pyrealsense2==2.55.1.6486
PyYAML==6.0.2
PyYAML==6.0.3
Requests==2.32.5
scikit_image==0.19.3
scipy==1.16.3
seaborn==0.13.2
segmentation_models_pytorch==0.3.3
setuptools==75.3.0
tensorflow==2.20.0
tensorflowjs==4.22.0
tensorrt==10.13.3.9
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==2.1.0a0+41361538.nv23.6
torchvision==0.24.0
tqdm==4.67.1
tritonclient==2.61.0
ultralytics==8.3.149
ultralytics_thop==2.0.14
x2paddle==1.6.0
